<!DOCTYPE html>
<!-- how to set the lang? -->
<html lang="$lang$" data-bs-theme="auto">
  <head>
    $metadata.html()$
  </head>
  <body>
    $for(include-before)$
    $include-before$
    $endfor$
    $title-block.html()$
    <div class="container">
      <div class="row">
        $toc.html()$
        $if(toc)$
        $quarto-page-toc.html()$
        $endif$
        $body$
      </div>
      $footer.html()$
      <!-- footer closes the container class div -->
    $for(include-after)$
    $include-after$
    $endfor$
  </body>
</html>
